h1{

	font-family: Florence, cursive;
	line-height: 100px;
	
	color: #ECDAAD;
	background-image: url('http://i.imgur.com/dJxLnJf.png');
	background-size: 25% 100%;
	background-repeat: repeat-x;
	position: center top;
}

input{
	
	float: right;
}


h2{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 30px;
}

body{
	
	background-color: #D4A07D;	
	font-family: Florence, cursive;
	padding-left: 11em;
	padding-right: 11em;
}

table, td, th{
	
	padding: 15px;
}

td.loginform{
	
	padding-left: 150px;
}
	
ul.Menu{
	
	position: absolute;
	top: 2em;
	left: 2em;
	width: 9em;
}

